{
	"$schema": "https://json.schemastore.org/swcrc",
	"exclude": ["node_modules"],
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"dynamicImport": true
		},
		"target": "es2022",
		"loose": true,
		"experimental": {
			"keepImportAssertions": true
		},
		"minify": {
			"compress": true,
			"mangle": true
		}
	},
	"module": {
		"type": "es6"
	},
	"minify": true,
	"isModule": true
}
